<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <%- include navbar %>
    <div class="container">
        <h2 align="center">ADD HERO</h2>
        <% if(locals.errors) { %>
        <ul class="alert alert-danger">
            <% Object.values(errors).forEach(function(error){ %>
                <li><%= error.msg %></li>
            <% }) %>
        </ul>
        <% } %>
        <form class="" action="/hero/add" method="post">
            <div class="form-group">
                <label for="">Hero Name</label>
                <input type="text" name="name" value="" class="form-control">
            </div>
            <div class="container-fluid row">
                <div class="form-group">
                    <label for="">Agility</label>
                    <input type="text" name="agi" value="" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Strength</label>
                    <input type="text" name="str" value="" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Intelligence</label>
                    <input type="text" name="int" value="" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="">Description</label>
                <textarea name="description" rows="6" cols="80" class="form-control"></textarea>
            </div>
            <input type="submit" name="" value="Save" class="btn btn-primary">
        </form>
    </div>
</body>

</html>